<body>
  <section class="about">
    <div class="main">
      <img src="https://i.pinimg.com/originals/df/fa/10/dffa101d26cd37b676cddcf11387867c.jpg">
      <div class="about-text">
        <h1>What is Spotify?</h1>
        <p>Spotify is a digital music, podcast, and video service that gives you access to millions of songs and other content from creators all over the world.
        Basic functions such as playing music are totally free, but you can also choose to upgrade to Spotify Premium.</p>
        <h5>Whether you have Premium or not, you can:</h5>

        <ul>
          <li>Get recommendations based on your taste</li>
          <li>build collections of music and podcasts</li>
          <li>And more!</li>
        </ul>
        <br>

        <p> Spotify is available across a range of devices, including computers, phones, tablets, speakers, TVs, and cars, and you can easily transition from one to another with Spotify Connect.</p>


      </div>
    </div>

  </section>
</body>
